/* ------------------------------RESET------------------------------- */

.webdev {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
}

.navbar {
    padding: 0px!important;
}

.home,
.cbutton {
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    width: inherit;
}

.ctoggle1 {
    margin-right: 19px;
    margin-left: 19px;
    color: #ffffff;
}

.ctoggle2 {
    margin-right: 19px;
    margin-bottom: 8px!important;
    margin-left: 19px;
}

.clink {
    /* color: #ece1e1!important; */
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 10em!important;
}

hr {
    display: block;
    margin-top: 0!important;
    margin-bottom: 0!important;
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1px;
    color: #ffffff!important;
    background-color: #ffffff!important;
}


/* -------------------------------END------------------------------------ */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    background: #F8F8FC !important;
    height: 100%;
}

a {
    text-decoration: none;
}

.title {
    vertical-align: middle;
    text-align: center;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.c-col {
    /* width: 3.33333%; */
}

.fas {
    font-size: 1em!important;
    user-select: none;
    /* background-color: #F8F8FC;    */
    /* width: 0.9em; */
    /* height: 0.9em; */
    /* color: #ffffff; */
    color: rgba(255, 255, 255, .5);
    padding: 0;
    /* padding-left: 10px; */
    /* border-radius: 10px 10px 10px 10px; */
    /* margin-bottom: 5px!important; */
}

.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

.rsslogo {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}


/* --------------------------------NAVIGATION----------------------------- */